name: Update data and open pull request

on:
  schedule:
    - cron: '0 18 * * 2'

  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  update-definitions:
    name: Update data and open pull request
    permissions:
      contents: write       # This workflow updates data and opens a pull request.
      issues: write         # This workflow updates data and opens a pull request.
      pull-requests: write  # This workflow updates data and opens a pull request.

    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            index.rubygems.org:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            rubygems.org:443
            svn.apache.org:80
            www.iana.org:443

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true

      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd #v1.288.0
        with:
          ruby-version: '3.3'
          rubygems: 'latest'
          bundler: 2
          bundler-cache: true

      - run: bundle exec rake release:gha

      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: |
            ${{ env.UPDATE_TITLE }}

            ${{ env.UPDATE_BODY }}
          branch: update-mime-types-data/${{ env.UPDATE_VERSION }}
          title: ${{ env.UPDATE_TITLE }}
          body-path: ${{ env.UPDATE_BODY_PATH }}
          labels: |
            automated
            data-update
          assignees: |
            halostatue
          reviewers: |
            halostatue
