name: Release

on:
  push:
    branches:
      - main
    paths:
      - lib/mime/types/data.rb

  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - lib/mime/types/data.rb

  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Publish Gem Version with Trusted Publishing

    if: github.repository == 'mime-types/mime-types-data' && (github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && github.event.pull_request.merged))

    runs-on: ubuntu-latest
    environment: production

    env:
      rubygems_release_gem: true

    permissions:
      contents: write # Create a new tag
      id-token: write # Authenticate for gem publishing

    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            fulcio.sigstore.dev:443
            github.com:443
            index.rubygems.org:443
            objects.githubusercontent.com:443
            rekor.sigstore.dev:443
            release-assets.githubusercontent.com:443
            rubygems.org:443
            tuf-repo-cdn.sigstore.dev:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: true

      - id: rubygems
        run: |
          ruby -e \
            'print "version=", Gem::Specification.load(ARGV[0]).rubygems_version, "\n"' \
            color.gemspec >>"${GITHUB_OUTPUT}"

      - uses: ruby/setup-ruby@ab177d40ee5483edb974554986f56b33477e21d0 # v1.265.0
        with:
          bundler-cache: false
          ruby-version: ruby

      - name: Install dependencies
        run: |
          gem update --system="${RUBYGEMS_VERSION}"
          bundle install --jobs 4 --retry 3
        env:
          RUBYGEMS_VERSION: ${{ steps.rubygems.outputs.version }}

      - name: Get gem version
        run: |
          echo gem_version="$(rake version)" >>"${GITHUB_OUTPUT}"

      - name: Ensure that gemspec is up-to-date
        run: |
          rake gemspec

          if ! git diff >/dev/null 2>/dev/null; then
            git commit -m "chore: Automatically update gemspec for ${gem_version} for release"
            git push origin main
          fi

      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b # v1.1.2
